
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif; 

}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.leftSide {
    width: 35%;
    background: rgba(1, 14, 38, 0.87);
    color: white;
    padding: 30px 20px;
    box-sizing: border-box;
}

.leftSide .profilePic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    
}

.leftSide h2 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.leftSide ul {
    list-style-type: none;
    padding: 0;
}

.leftSide ul li {
    margin-bottom: 10px;
}

.contact {
    margin-top: 20px;
}

.leftSide .contact p {
    margin: 10px 0;
}

.rightSide {
    width: 65%;
    padding: 40px 40px 20px 40px;
    box-sizing: border-box;
}

.rightSide h1 {
    font-size: 36px;
    margin: 0 0 20px 0;
}

.rightSide h2 {
    font-size: 28px;
    color: #666;
    margin: 20px 0;
}

.rightSide .Profile, .rightSide .experience, .rightSide .education {
    margin-bottom: 40px;
}

.rightSide .Profile hr, .rightSide .experience hr, .rightSide .education hr {
    border-top: 1px solid #ccc;
}

.rightSide .Profile p, .rightSide .experience ul, .rightSide .education p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.rightSide .experience p {
    margin: 0;
}

.rightSide .experience ul {
    padding-left: 20px;
}

.rightSide .education p {
    margin: 0;
}

.p{
    font-family: "Roboto", sans-serif;
}
